#main{
    background: lightblue;
    text-align: center;
    border: 5px red;
    border-radius: 15px;
    overflow: visible;
    padding: 50px;
    width: 900px;
    margin:auto;
}

#textarea{
    border: hidden;
    height: 511px;
    width: 791px;
    resize: none;
}

#startbutton{
    vertical-align: middle;
    margin: 20px;
    position: relative;
}

#wordDisplay{
    background: whitesmoke;
    padding: 50px;
    font-size: 50pt;
}

.button{
    padding: 10px;
    border: hidden;
    margin: 15px;
}

.secondScreen{
    display: none;
    padding: 10px;
}