#main{
    background: lightblue;
    /* text-align: center; */
    border: 5px red;
    border-radius: 15px;
    overflow: visible;
    padding: 50px;
    width: 900px;
    margin:auto;
}

#textarea{
    border: hidden;
    height: 511px;
    width: 791px;
    resize: none;
}

#wordDisplay{
    background: whitesmoke;
    padding: 50px;
    font-size: 50pt;
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: hidden;
    margin: 10px;
    border-radius: 15px;
}

.secondScreen{
    display: none;
    padding: 10px;
}